.Header{
    text-align: center;
}

.rectangle{
  height: 134px;
  left: 18px;
  position: relative;
  top: 8px;
  width: 98%;
  background-color: #144709;
  
}

.rectangle h1{
  text-align: center;
  align-items: center;
}
